if SHIELD_SPLITLEMON_LEFT

config ZMK_KEYBOARD_NAME
    default "SplitLemon"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

CONFIG_ZMK_BLE=y

endif

if SHIELD_CORNE_LEFT || SHIELD_CORNE_RIGHT

config ZMK_SPLIT
    default y


endif

