#include "SplitLemon.dtsi"

default_kscan: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "default_kscan";
        diode-direction = "col2row";
        
    col-gpios
        = <&gpio1 13 GPIO_ACTIVE_HIGH>,
          <&gpio1 11 GPIO_ACTIVE_HIGH>,
          <&gpio0 10 GPIO_ACTIVE_HIGH>,
          <&gpio0 9 GPIO_ACTIVE_HIGH>,
          <&gpio0 6 GPIO_ACTIVE_HIGH>,
          <&gpio0 8 GPIO_ACTIVE_HIGH>;
};